.logo{
  /* position: absolute; */
   width: 350px;
   height: auto;
   margin: 2rem;

  @media screen and (max-width: 767px) {
    position: relative;
     margin: 2rem auto;
     width: 300px;
  }
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}