.beanterraText {
  font-size: 5.8rem;
  line-height: 7.3rem;
  background: linear-gradient(180deg, #59B791 50%, rgba(89, 183, 145, 0.1) 106.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 767px) {
    font-size: 2.6rem;
    line-height: 3.1rem;
    margin-top: 1.5rem;
  }
}

.tttText {
  font-size: 5.8rem;
  line-height: 7.3rem;
  text-align: right;

  background: linear-gradient(180deg, #17C1E8 38.07%, rgba(23, 193, 232, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 767px) {
    font-size: 2.6rem;
    line-height: 3.1rem;
    text-align: start;
    margin-top: 1.5rem;
  }
}